<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/lp3/src/lp3/TestAgregacion.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lp3.TestAgregacion"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="lp3"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="lp3"/>
</launchConfiguration>
